################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DoorSign/v15/Server/sqlite3
/.vs/DoorSign/v15
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/cs-CZ/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/zh-TW/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/zh-TW
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/zh-CN/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/zh-CN
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/tr-TR/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/tr-TR
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/ru-RU/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/ru-RU
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/pt-BR/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/pt-BR
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/pl-PL/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/pl-PL
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/ko-KR/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/ko-KR
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/ja-JP/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/ja-JP
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/it-IT/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/it-IT
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/fr-FR/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/fr-FR
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/es-ES/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/es-ES
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/en-US/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/en-US
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/de-DE/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.resources/Add-AppDevPackage.psd1
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/DoorSignIoT_1.0.3.0_ARM_Debug.cer
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/DoorSignIoT_1.0.3.0_ARM_Debug.appxsym
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/DoorSignIoT_1.0.3.0_ARM_Debug.appx
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Dependencies/x86/Microsoft.VCLibs.x86.Debug.14.00.appx
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Dependencies/x86/Microsoft.NET.CoreRuntime.1.1.appx
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Dependencies/x86
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Dependencies/x64/Microsoft.VCLibs.x64.Debug.14.00.appx
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Dependencies/x64/Microsoft.NET.CoreRuntime.1.1.appx
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Dependencies/x64
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Dependencies/ARM64/Microsoft.VCLibs.ARM64.Debug.14.00.appx
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Dependencies/ARM/Microsoft.VCLibs.ARM.Debug.14.00.appx
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Dependencies/ARM/Microsoft.NET.CoreRuntime.1.1.appx
/IoTBrowser/AppPackages/DoorSignIoT_1.0.3.0_ARM_Debug_Test/Add-AppDevPackage.ps1
/IoTBrowser/bin/ARM/Debug/Core/DoorSignIoT.exe
/IoTBrowser/bin/ARM/Debug/System.Xml.XmlSerializer.dll
/IoTBrowser/bin/ARM/Debug/System.Xml.XmlDocument.dll
/IoTBrowser/bin/ARM/Debug/System.Xml.XDocument.dll
/IoTBrowser/bin/ARM/Debug/System.Xml.Serialization.dll
/IoTBrowser/bin/ARM/Debug/System.Xml.ReaderWriter.dll
/IoTBrowser/bin/ARM/Debug/System.Xml.Linq.dll
/IoTBrowser/bin/ARM/Debug/System.Xml.dll
/IoTBrowser/bin/ARM/Debug/System.Windows.dll
/IoTBrowser/bin/ARM/Debug/System.Threading.Timer.dll
/IoTBrowser/bin/ARM/Debug/System.Threading.Tasks.Parallel.dll
/IoTBrowser/bin/ARM/Debug/System.Threading.Tasks.Extensions.dll
/IoTBrowser/bin/ARM/Debug/System.Threading.Tasks.dll
/IoTBrowser/bin/ARM/Debug/System.Threading.Tasks.Dataflow.dll
/IoTBrowser/bin/ARM/Debug/System.Threading.Overlapped.dll
/IoTBrowser/bin/ARM/Debug/System.Threading.dll
/IoTBrowser/bin/ARM/Debug/System.Text.RegularExpressions.dll
/IoTBrowser/bin/ARM/Debug/System.Text.Encoding.Extensions.dll
/IoTBrowser/bin/ARM/Debug/System.Text.Encoding.dll
/IoTBrowser/bin/ARM/Debug/System.Text.Encoding.CodePages.dll
/IoTBrowser/bin/ARM/Debug/System.ServiceModel.Web.dll
/IoTBrowser/bin/ARM/Debug/System.ServiceModel.Security.dll
/IoTBrowser/bin/ARM/Debug/System.ServiceModel.Primitives.dll
/IoTBrowser/bin/ARM/Debug/System.ServiceModel.NetTcp.dll
/IoTBrowser/bin/ARM/Debug/System.ServiceModel.Http.dll
/IoTBrowser/bin/ARM/Debug/System.ServiceModel.Duplex.dll
/IoTBrowser/bin/ARM/Debug/System.ServiceModel.dll
/IoTBrowser/bin/ARM/Debug/System.Security.Principal.dll
/IoTBrowser/bin/ARM/Debug/System.Security.Cryptography.X509Certificates.dll
/IoTBrowser/bin/ARM/Debug/System.Security.Cryptography.Primitives.dll
/IoTBrowser/bin/ARM/Debug/System.Security.Cryptography.Encoding.dll
/IoTBrowser/bin/ARM/Debug/System.Security.Cryptography.Cng.dll
/IoTBrowser/bin/ARM/Debug/System.Security.Cryptography.Algorithms.dll
/IoTBrowser/bin/ARM/Debug/System.Security.Claims.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.WindowsRuntime.UI.Xaml.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.WindowsRuntime.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.Serialization.Xml.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.Serialization.Primitives.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.Serialization.Json.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.Serialization.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.Numerics.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.InteropServices.WindowsRuntime.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.InteropServices.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.Handles.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.Extensions.dll
/IoTBrowser/bin/ARM/Debug/System.Runtime.dll
/IoTBrowser/bin/ARM/Debug/System.Resources.ResourceManager.dll
/IoTBrowser/bin/ARM/Debug/System.Reflection.TypeExtensions.dll
/IoTBrowser/bin/ARM/Debug/System.Reflection.Primitives.dll
/IoTBrowser/bin/ARM/Debug/System.Reflection.Metadata.dll
/IoTBrowser/bin/ARM/Debug/System.Reflection.Extensions.dll
/IoTBrowser/bin/ARM/Debug/System.Reflection.Emit.Lightweight.dll
/IoTBrowser/bin/ARM/Debug/System.Reflection.Emit.ILGeneration.dll
/IoTBrowser/bin/ARM/Debug/System.Reflection.Emit.dll
/IoTBrowser/bin/ARM/Debug/System.Reflection.dll
/IoTBrowser/bin/ARM/Debug/System.Reflection.DispatchProxy.dll
/IoTBrowser/bin/ARM/Debug/System.Reflection.Context.dll
/IoTBrowser/bin/ARM/Debug/System.Private.Uri.dll
/IoTBrowser/bin/ARM/Debug/System.Private.ServiceModel.dll
/IoTBrowser/bin/ARM/Debug/System.Private.DataContractSerialization.dll
/IoTBrowser/bin/ARM/Debug/System.ObjectModel.dll
/IoTBrowser/bin/ARM/Debug/System.Numerics.Vectors.WindowsRuntime.dll
/IoTBrowser/bin/ARM/Debug/System.Numerics.Vectors.dll
/IoTBrowser/bin/ARM/Debug/System.Numerics.dll
/IoTBrowser/bin/ARM/Debug/System.Net.WebSockets.dll
/IoTBrowser/bin/ARM/Debug/System.Net.WebSockets.Client.dll
/IoTBrowser/bin/ARM/Debug/System.Net.WebHeaderCollection.dll
/IoTBrowser/bin/ARM/Debug/System.Net.Sockets.dll
/IoTBrowser/bin/ARM/Debug/System.Net.Requests.dll
/IoTBrowser/bin/ARM/Debug/System.Net.Primitives.dll
/IoTBrowser/bin/ARM/Debug/System.Net.NetworkInformation.dll
/IoTBrowser/bin/ARM/Debug/System.Net.NameResolution.dll
/IoTBrowser/bin/ARM/Debug/System.Net.Http.Rtc.dll
/IoTBrowser/bin/ARM/Debug/System.Net.Http.dll
/IoTBrowser/bin/ARM/Debug/System.Net.dll
/IoTBrowser/bin/ARM/Debug/System.Linq.Queryable.dll
/IoTBrowser/bin/ARM/Debug/System.Linq.Parallel.dll
/IoTBrowser/bin/ARM/Debug/System.Linq.Expressions.dll
/IoTBrowser/bin/ARM/Debug/System.Linq.dll
/IoTBrowser/bin/ARM/Debug/System.IO.UnmanagedMemoryStream.dll
/IoTBrowser/bin/ARM/Debug/System.IO.IsolatedStorage.dll
/IoTBrowser/bin/ARM/Debug/System.IO.FileSystem.Primitives.dll
/IoTBrowser/bin/ARM/Debug/System.IO.FileSystem.dll
/IoTBrowser/bin/ARM/Debug/System.IO.dll
/IoTBrowser/bin/ARM/Debug/System.IO.Compression.ZipFile.dll
/IoTBrowser/bin/ARM/Debug/System.IO.Compression.dll
/IoTBrowser/bin/ARM/Debug/System.Globalization.Extensions.dll
/IoTBrowser/bin/ARM/Debug/System.Globalization.dll
/IoTBrowser/bin/ARM/Debug/System.Globalization.Calendars.dll
/IoTBrowser/bin/ARM/Debug/System.Dynamic.Runtime.dll
/IoTBrowser/bin/ARM/Debug/System.dll
/IoTBrowser/bin/ARM/Debug/System.Diagnostics.Tracing.dll
/IoTBrowser/bin/ARM/Debug/System.Diagnostics.Tools.dll
/IoTBrowser/bin/ARM/Debug/System.Diagnostics.StackTrace.dll
/IoTBrowser/bin/ARM/Debug/System.Diagnostics.DiagnosticSource.dll
/IoTBrowser/bin/ARM/Debug/System.Diagnostics.Debug.dll
/IoTBrowser/bin/ARM/Debug/System.Diagnostics.Contracts.dll
/IoTBrowser/bin/ARM/Debug/System.Data.Common.dll
/IoTBrowser/bin/ARM/Debug/System.Core.dll
/IoTBrowser/bin/ARM/Debug/System.ComponentModel.EventBasedAsync.dll
/IoTBrowser/bin/ARM/Debug/System.ComponentModel.dll
/IoTBrowser/bin/ARM/Debug/System.ComponentModel.DataAnnotations.dll
/IoTBrowser/bin/ARM/Debug/System.ComponentModel.Annotations.dll
/IoTBrowser/bin/ARM/Debug/System.Collections.Specialized.dll
/IoTBrowser/bin/ARM/Debug/System.Collections.NonGeneric.dll
/IoTBrowser/bin/ARM/Debug/System.Collections.Immutable.dll
/IoTBrowser/bin/ARM/Debug/System.Collections.dll
/IoTBrowser/bin/ARM/Debug/System.Collections.Concurrent.dll
/IoTBrowser/bin/ARM/Debug/System.Buffers.dll
/IoTBrowser/bin/ARM/Debug/System.AppContext.dll
/IoTBrowser/bin/ARM/Debug/resources.pri
/IoTBrowser/bin/ARM/Debug/Microsoft.Win32.Primitives.dll
/IoTBrowser/bin/ARM/Debug/Microsoft.VisualBasic.dll
/IoTBrowser/bin/ARM/Debug/Microsoft.CSharp.dll
/IoTBrowser/bin/ARM/Debug/MainPage.xbf
/IoTBrowser/bin/ARM/Debug/DoorSignIoT.xr.xml
/IoTBrowser/bin/ARM/Debug/DoorSignIoT.pdb
/IoTBrowser/bin/ARM/Debug/DoorSignIoT.exe
/IoTBrowser/bin/ARM/Debug/DoorSignIoT.build.appxrecipe
/IoTBrowser/bin/ARM/Debug/Core/AppxManifest.xml
/IoTBrowser/bin/ARM/Debug/clrcompression.dll
/IoTBrowser/bin/ARM/Debug/AppxManifest.xml
/IoTBrowser/bin/ARM/Debug/App.xbf
/IoTBrowser/obj/ARM/Debug/_pkginfo.txt
/IoTBrowser/obj/ARM/Debug/XamlTypeInfo.g.cs.backup
/IoTBrowser/obj/ARM/Debug/XamlTypeInfo.g.cs
/IoTBrowser/obj/ARM/Debug/XamlSaveStateFile.xml
/IoTBrowser/obj/ARM/Debug/unfiltered.layout.resfiles.intermediate
/IoTBrowser/obj/ARM/Debug/unfiltered.layout.resfiles
/IoTBrowser/obj/ARM/Debug/Symbols/DoorSignIoT.pdb
/IoTBrowser/obj/ARM/Debug/resources.resfiles.intermediate
/IoTBrowser/obj/ARM/Debug/resources.resfiles
/IoTBrowser/obj/ARM/Debug/ResourceHandlingTask.state
/IoTBrowser/obj/ARM/Debug/qualifiers.txt.intermediate
/IoTBrowser/obj/ARM/Debug/qualifiers.txt
/IoTBrowser/obj/ARM/Debug/ProjectArchitectures.txt
/IoTBrowser/obj/ARM/Debug/priconfig.xml.intermediate
/IoTBrowser/obj/ARM/Debug/priconfig.xml
/IoTBrowser/obj/ARM/Debug/pri.resfiles.intermediate
/IoTBrowser/obj/ARM/Debug/pri.resfiles
/IoTBrowser/obj/ARM/Debug/PackagingFileWrites.log
/IoTBrowser/obj/ARM/Debug/PackagingDirectoryWrites.log
/IoTBrowser/obj/ARM/Debug/package.map.txt
/IoTBrowser/obj/ARM/Debug/MultipleQualifiersPerDimensionFound.txt
/IoTBrowser/obj/ARM/Debug/MainPage.xbf
/IoTBrowser/obj/ARM/Debug/MainPage.xaml
/IoTBrowser/obj/ARM/Debug/MainPage.g.i.cs
/IoTBrowser/obj/ARM/Debug/MainPage.g.cs
/IoTBrowser/obj/ARM/Debug/FxResources.System.Xml.XmlSerializer.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Xml.XmlDocument.SR.resw
/IoTBrowser/obj/x86/Debug/XamlTypeInfo.g.cs
/IoTBrowser/obj/x86/Debug/XamlSaveStateFile.xml
/IoTBrowser/obj/x86/Debug/MainPage.g.i.cs
/IoTBrowser/obj/x86/Debug/DoorSignIoT.csproj.CoreCompileInputs.cache
/IoTBrowser/obj/x86/Debug/App.g.i.cs
/IoTBrowser/obj/x86/Release/XamlTypeInfo.g.cs
/IoTBrowser/obj/x86/Release/XamlSaveStateFile.xml
/IoTBrowser/obj/x86/Release/MainPage.g.i.cs
/IoTBrowser/obj/x86/Release/DoorSignIoT.csproj.CoreCompileInputs.cache
/IoTBrowser/obj/x86/Release/App.g.i.cs
/IoTBrowser/obj/DoorSignIoT.csproj.nuget.cache
/IoTBrowser/obj/x64/Release/XamlTypeInfo.g.cs
/IoTBrowser/obj/x64/Release/XamlSaveStateFile.xml
/IoTBrowser/obj/x64/Release/MainPage.g.i.cs
/IoTBrowser/obj/x64/Release/DoorSignIoT.csproj.CoreCompileInputs.cache
/IoTBrowser/obj/x64/Release/App.g.i.cs
/IoTBrowser/obj/x64/Debug/XamlTypeInfo.g.cs
/IoTBrowser/obj/x64/Debug/XamlSaveStateFile.xml
/IoTBrowser/obj/x64/Debug/MainPage.g.i.cs
/IoTBrowser/obj/x64/Debug/DoorSignIoT.csproj.CoreCompileInputs.cache
/IoTBrowser/obj/x64/Debug/App.g.i.cs
/IoTBrowser/obj/ARM/Release/XamlTypeInfo.g.cs
/IoTBrowser/obj/ARM/Release/XamlSaveStateFile.xml
/IoTBrowser/obj/ARM/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/IoTBrowser/obj/ARM/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/IoTBrowser/obj/ARM/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/IoTBrowser/obj/ARM/Release/MainPage.g.i.cs
/IoTBrowser/obj/ARM/Release/DoorSignIoT.csprojAssemblyReference.cache
/IoTBrowser/obj/ARM/Release/DoorSignIoT.csproj.CoreCompileInputs.cache
/IoTBrowser/obj/ARM/Release/App.g.i.cs
/IoTBrowser/obj/ARM/Debug/FxResources.System.Xml.XDocument.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Xml.ReaderWriter.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Threading.Tasks.Parallel.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Threading.Tasks.Dataflow.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Threading.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Threading.Overlapped.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Text.RegularExpressions.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Text.Encoding.CodePages.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Security.Cryptography.X509Certificates.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Security.Cryptography.Primitives.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Security.Cryptography.Encoding.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Security.Cryptography.Cng.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Security.Cryptography.Algorithms.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Security.Claims.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Runtime.WindowsRuntime.UI.Xaml.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Runtime.WindowsRuntime.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Runtime.Serialization.Primitives.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Runtime.Numerics.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Runtime.InteropServices.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Runtime.Extensions.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Reflection.Metadata.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Reflection.DispatchProxy.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Private.Uri.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Private.ServiceModel.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Private.DataContractSerialization.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.ObjectModel.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Numerics.Vectors.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Net.WebSockets.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Net.WebSockets.Client.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Net.WebHeaderCollection.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Net.Sockets.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Net.Requests.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Net.Primitives.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Net.NetworkInformation.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Net.NameResolution.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Net.Http.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Linq.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Linq.Queryable.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Linq.Parallel.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Linq.Expressions.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.IO.UnmanagedMemoryStream.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.IO.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.IO.IsolatedStorage.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.IO.FileSystem.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.IO.Compression.ZipFile.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.IO.Compression.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Globalization.Extensions.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Dynamic.Runtime.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Diagnostics.Debug.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Data.Common.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.ComponentModel.EventBasedAsync.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.ComponentModel.Annotations.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Collections.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Collections.Specialized.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Collections.NonGeneric.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Collections.Immutable.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Collections.Concurrent.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.System.Buffers.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.Microsoft.VisualBasic.SR.resw
/IoTBrowser/obj/ARM/Debug/FxResources.Microsoft.CSharp.SR.resw
/IoTBrowser/obj/ARM/Debug/filtered.layout.resfiles.intermediate
/IoTBrowser/obj/ARM/Debug/filtered.layout.resfiles
/IoTBrowser/obj/ARM/Debug/excluded.layout.resfiles.intermediate
/IoTBrowser/obj/ARM/Debug/excluded.layout.resfiles
/IoTBrowser/obj/ARM/Debug/DoorSignIoT.pdb
/IoTBrowser/obj/ARM/Debug/DoorSignIoT.exe
/IoTBrowser/obj/ARM/Debug/DoorSignIoT.csprojAssemblyReference.cache
/IoTBrowser/obj/ARM/Debug/DoorSignIoT.csproj.FileListAbsolute.txt
/IoTBrowser/obj/ARM/Debug/DoorSignIoT.csproj.CoreCompileInputs.cache
/IoTBrowser/obj/ARM/Debug/DoorSignIoT.csproj.CopyComplete
/IoTBrowser/obj/ARM/Debug/App.xbf
/IoTBrowser/obj/ARM/Debug/App.xaml
/IoTBrowser/obj/ARM/Debug/App.g.i.cs
/IoTBrowser/obj/ARM/Debug/App.g.cs
